@media (min-width:425px) and (max-width:767px)
{
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* display: none; */
}

h1 {
    background-color: rgb(1, 103, 179);
    color: white;
    padding: 0px 75px;
    padding-top: 80px;
    font-size: 20px;
    padding-bottom: 80px;
    margin: -4% 0%;
    font-weight: lighter;
}

img {
    width: 22%;
    border-radius: 50%;
    border: 2px solid #282262;
    margin: -46% 5%;
}

form {
    margin-top: 40px;
    padding: 65px 10px;
}

form h2 {
    display: inline;
    /* color: #282262; */
    font-family: inherit;
    margin-left: 35px;
    font-size: 13px;
    font-weight: 700;
    color: #024ca1;
}


form .fline {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;
}

form .fline:focus {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}

form .sline {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;
}

form .sline:focus {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}

form .tline {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;
}

form .tline:focus {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}

form .frline {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;
}

form .frline:focus {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}

form .fvline {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form .fvline:focus {
    width: 35%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}

form .sxline {
    width: 79%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 1px solid #0267b4;
    margin-left: 35px;
}

form .sxline:focus {
    width: 79%;
    background-color: transparent;
    outline: none;
    color: #0267b4;
    border: none;
    border-bottom: 2px solid #03508b;
    margin-left: 35px;
}
.Scourse{
    margin-left: 27%;
}
.fathername{
    margin-left: 27%;
}
.Sgender{
    margin-left: 13.3%;
}
.Contactnumber{
    margin-left: 35%;
}
.FatherNIC{
    margin-left: 35%;
}

form .radio {
    margin-left: 7.5%;
}

form .radio2 {
    margin-left: 0%;
}

form .radio3 {
    margin-left: 0%;
}

form .radiotext {
    font-size: x-small;
    color: rgba(0, 0, 0, 0.744);
}

form ol li {
    line-height: 25px;
}

form .file {
    padding: 55px 35px;
    border: 2px dashed #0267b4;
    width: 79%;
    margin-left: 35px;
    font-size: large;
    font-weight: lighter;
}
ol .instruction{
    font-size: smaller;
    text-align: justify;
}
form .btn {
    width: 81%;
    padding: 10px 0px;
    background-color: rgb(1, 103, 179);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    display: block;
    margin: auto;
}

form .btn:hover {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(4, 68, 117);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

p {
    background-color: #0267b4;
    color: white;
    text-align: center;
    padding: 5px 0px;
}
}